<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    {{#users}}
      <div class="userCard">
        <a href="/user/{{id}}"><div>
        {{#avatar}}
          <img src ="{{avatar}}" alt="{{name}}'s avatar" class="avatar">
        {{/avatar}}
        <h2 class="name">{{name}}</h2>
        {{#job}}<p>{{job}} @ {{company}}</p>{{/job}}
        {{^job}}<p class="unemployed">Available for hire</p>{{/job}}
      </div></a>
      </div>

    {{/users}}

  </body>
</html>
